<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enter your data</title>
</head>
<body>
    <form method="post" action="user">
        <label>Username
            <input type="text" name="username" th:value="${savedUsername}"/>
        </label>
        <label>Email
            <input type="email" name="email" th:value="${savedEmail}"/>
        </label>
        <label>Password
            <input type="password" name="verify"/>
        </label>
        <label>Verify password
            <input type="password" name="password"/>
            <p th:if="${error}" th:text="${error}"></p>
        </label>
    <div>
        <input type="submit">
    </div>
    </form>
</body>
</html>